body{
    background-image: url(../images/cineoscuro.webp) ;
    background-repeat:no-repeat;background-size: 100% 100%;background-attachment:fixed;
}
body h1{
    background-color: antiquewhite;
    text-align: center;
}
#mensajeAviso{
    background-color: antiquewhite;
    text-align: center;
}
.contenedor{
    overflow: hidden;
    background-image: url(../images/fondoentrevista.png) ;
    background-repeat:no-repeat;background-size: 1300px 500px;
    position:relative;
    width: 1300px;
    height: 500px;
    margin: 0 auto;
}
#inventario{
    
    margin-top: 388px;
    margin-left: 30px;
    background-color: antiquewhite;
    text-align: center;
}
#inventario p{
    text-align: center;
    margin-top: 15px;
    font-weight: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
#luchar{

    position:absolute;
    margin-top: 0px;
    margin-left: 649px;
    background: url("../images/luchar.png");
    background-size: 325px 56px; 
    width:325px; 
    height:56px;
   
}
#pokemon{

    position:absolute;
    margin-top: 57px;
    margin-left: 649px;
    background: url("../images/pokemones.png");
    background-size: 325px 56px; 
    width:325px; 
    height:56px;
   
}
#mochila{

    position:absolute;
    margin-top: 0px;
    margin-left: 974px;
    background: url("../images/mochila.png");
    background-size: 325px 56px; 
    width:325px; 
    height:56px;
   
}
#huir{
    position:absolute;
    margin-top: 57px;
    margin-left: 974px;
    background: url("../images/huir.png");
    background-size: 325px 56px; 
    width:325px; 
    height:56px;
   
}