body{
    background-image: url(../images/cineoscuro.webp) ;
    background-repeat:no-repeat;background-size: 100% 100%;background-attachment:fixed;
}
body h1{
    background-color: antiquewhite;
    text-align: center;
    
    
}
#mensajeCompilar{
    background-color: antiquewhite;
    text-align: center;
    
}
#contenedor{
    overflow: hidden;
    background-image: url(../images/PescaTotal.jpg) ;
    background-repeat:no-repeat;background-size: 1300px 500px;
    position:relative;
    width: 1300px;
    height: 500px;
    margin: 0 auto;
}

body h1{
    text-align: center;
    
}

#anzuelo{

       position:absolute;
       margin-left: 1025px;
       margin-top: 110px;
       background-image: url(../images/anzuelo.png) ;
       background-repeat:no-repeat;background-size: 50px 36px;
       width:50px;
    height:36px;
       
   
}
