body{
    background-image: url(../images/PescaTotal.jpg) ;
    background-repeat:no-repeat;background-size:100% 100%;background-attachment:fixed;
}
body h1{
    text-align: center;
}
.contenedor{
    position:relative;
}
#anzuelo{

       position:absolute;
       margin-left: 1208px;
       margin-top: 12.5vh;
       
   
}
#bigboss{

    position:absolute;
    margin-top: 61vh;
    margin-left: -150px;
    

}
#oficina{

    position:absolute;
    margin-top: 54.5vh;
    margin-left: 1325px;
    

}