body{
    
}
body h1{
    text-align: center;
}
.contenedor{
    
    background-image: url(../images/galicia.png) ;
    background-repeat:no-repeat;background-size: 1300px 500px;
    position:relative;
    width: 1300px;
    height: 500px;
    margin: 0 auto;
}
#player{

    position:absolute;
    /*margin-top: 410px;*/
    /*margin-left: 0vw;*/
    background: url("../images/corredor.png");
    background-size: 50px 60px; 
    width:50px; 
    height:60px;
   
}
#bigboss{

    position:absolute;
    margin-top: 65vh;
    margin-left: -10vw;
  

}
#oficina{

    position:absolute;
    margin-top: 65vh;
    margin-left: 89vw;
    

}